footer {
  width: 100%;
  min-height: 75px;
  background: var(--indigo);
  color: white;
  display: inline-block;
  font-size: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.footer-item {
  width: 100%;
  text-align: center;
}
